// place your custom styles here
.social-media-wrapper .social-media {
  width: 28px !important;
  height: 28px !important;
}
html[data-theme='dark'] {
  figure {
    img {
      filter: brightness(0.8) contrast(1.2);
    }
  }

  .pswp__img {
    filter: brightness(0.8) contrast(1.2);
  }
}
