// place your custom styles here
.social-media-wrapper .social-media {
  width: 28px !important;
  height: 28px !important;
}
html[data-theme='dark'] {
  --mark-color: rgb(250 189 98);
  --mark-bg-color: rgb(219 125 39 / 0.2);
  --mark-b-color: rgb(219 125 39 / 0.6);

  figure {
    img {
      filter: brightness(0.8) contrast(1.2);
    }
  }

  .pswp__img {
    filter: brightness(0.8) contrast(1.2);
  }

  .vp-blog-mask {
    filter: brightness(0.8) contrast(1.2);
  }

  div[class*='language-'] {
    background-color: #20293a;
  }

  .hint-container {
    border-color: #227497;
    background: #1e2533;

    .hint-container-title {
      color: #b3bcc7;
    }
  }
}

html[data-theme='light'] {
  --mark-color: rgb(182 87 0);
  --mark-bg-color: rgb(219 125 39 / 0.1);
  --mark-b-color: rgb(219 125 39 / 0.6);
}

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1) translateY(-0.125em);
  }
  64% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

mark {
  background-color: var(--mark-bg-color);
  color: var(--mark-color);
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-bottom: 2px var(--mark-b-color) solid;
  border-radius: 0.25rem;
}

.nav-link:hover .icon,
.vp-project-card:hover .icon,
.vp-page-title h1:hover .icon,
.vp-sidebar-heading:hover .icon,
.vp-project-home .vp-feature-item:hover .icon {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-delay: 0s;
  animation-direction: normal;
}

li {
  margin-bottom: .25rem;
}