// you can change colors here
$theme-color: #38bdf8;

$text-color: (
  light: #334155,
  dark: #94a3b8
);
$bg-color: (
  light: #fff,
  dark: rgb(15 23 42/1)
);
$bg-color-secondary: (
  light: #f8f8f8,
  dark: #353944
);
$bg-color-tertiary: (
  light: #efeef4,
  dark: #21262c
);

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32
) !default;
$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%)
) !default;

// constants
$black: (
  light: #000,
  dark: #fff
);
$dark-grey: (
  light: #666,
  dark: #94a3b8
);
$light-grey: (
  light: #999,
  dark: #94a3b8
);
$white: (
  light: #fff,
  dark: #000
);
$grey3: (
  light: #333,
  dark: #bbb
);
$grey12: (
  light: #bbb,
  dark: #333
);
